@import '_vars';
@import 'modules/_users';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
    margin: 0 auto;
}

h1, h2, h3 { 
    color: red;
}

.panel { min-height: 80vh; }

.panel:nth-child(odd) {
    background-color: #000000;
    color: white;
}

#to-top { 
    position: fixed;
     bottom: 10px; 
     right: 10px; 
     display: none; }

@import 'modules/_footer'
