html {
    background-image: url(/images/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
}

#section1 {
    text-align: center;
    background-color: transparent;
}
h1 {
    font-family: 'Monoton', cursive;
    margin: 0 auto;
}

h2, h4, h5 {
    font-family:'Josefin Sans', sans-serif;
    margin-top: 20px;
}
.logo {
    background-color: transparent;
    border: 10px solid white;
    align-items: center;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

.logo h1 {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, -4px -6px 2px rgba(206,89,55,0.25);
}
.movieCont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding: 10px;
}
.movieCont .user-panel{
    flex:0 1 200px;
    text-align:center;
    padding:8px
}
.movieCont .user-panel .poster{
    max-width:200px
}
.movieCont .user-panel .u-link{
    display: block;
    color: white;
    text-decoration:none;
    margin:0 auto;
    border: 5px solid white;
    background-color: transparent;
    padding:5px
}
.movieCont .user-panel .u-link:hover {
    box-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 30px #ff8000, 0 -18px 90px #F00, -4px -6px 2px rgba(206,89,55,0.25);
    color: white;
    transition: all 0.4s ease 0s;
}
.movieCont .user-panel h1,.movieCont .user-panel h3{
    margin:5px 0
}


@media screen and (min-width: 900px){
    .logo {
        text-align: center;
        margin: 0 auto;
    }
    .movieCont .user-panel{
        flex:1 1}
        .movieCont .user-panel .poster{
            max-width:250px
        }
    }
    .movieCont .user-panel .u-link {
        width: 250px;
    }
    .lightbox{
        display:none;
        flex-direction:row;
        min-height:100%;
        width:100%;
        position: absolute;
        top:0;
        z-index:5000;
        padding:10px;
        background-color:rgba(0,0,0,0.85)
    }
    .lightbox .sidebar{
        float: left;
    }
    .lightbox .lb-content{
        flex:1;
        text-align: left;
    }
    .lb-content h4{
        color: #60a3bc;
    }
    .lightbox img{
        max-width:250px
    }
    .lightbox .close{
        right:24px;
        top: 25px;
        z-index: 5100;
        cursor:pointer;
        font-size:12px;
        position:fixed;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: red;
        padding: 10px;
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
    }
    .show-lb{
        display:flex !important
    }

    body{
        color:#fff;
        text-align: center;
    }
    h1,h2,h3{
        color:white;
        text-align: center;
    }
    .panel{
        min-height:80vh
    }
    .panel:nth-child(odd){
        background-color:rgb(255, 255, 255);
        color:white
    }

    @media (min-width: 575px) { 
        .lightbox {
            min-height: 100%;
            width: 100%;
            overflow-y: scroll;
            text-align: center;
        }
        .lightbox img{
            max-width:75%;
        }
        .lightbox h5 {
            color:  #60a3bc;
        }
        .sidebar {
            flex: 1;
        }
        .close {
          
            font-size:  16px;
            z-index: 5100;
        }
        .lb-content {
            float: left;
            text-align: left;
        }
     }


@media (max-width: 375px) {
    .lightbox .lb-content{
        color: white;
        text-align: left;
    }
    .lightbox {
        min-height: 100%;
        width: 100%;
        overflow-y: scroll;
        
    }
    .lightbox h2 {
        text-align: left;
    }
    .lightbox img{
        max-width:375px;
    }
    .lightbox h5 {
        color:  #60a3bc;
    }
    .lightbox iframe {
        width: 330px;
        height: 250px
    }
    .movieCont .user-panel .u-link {
        width: 200px;
    }
}
/*# sourceMappingURL=main.css.map */
