.lightbox { 
    display: none;
    //display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    background-color: rgba(0, 0,0, 0.85);
    overflow: visible;

    .sidebar {
        flex: 1;
    }
    
    .lb-content {
        flex: 3;
    }

    img { 
        max-width: 250px; 
    }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 16px;
        position: fixed;
        padding: 2px 14px 5px;
        
    }
}

.show-lb { 
    display: flex !important; 
}

@media (min-width: 575px) { 
    .lightbox {
        min-height: 100%;
        width: 100%;
        overflow-y: scroll;
        text-align: left;
    }
    .lightbox img{
        width:375px;
    }
    .lightbox h5 {
        color:  #60a3bc;
    }
    .sidebar {
        flex: 1;
    }
    .close {
      
        font-size:  16px;
        z-index: 5100;
    }
    .lb-content {
        float: left;
        text-align: left;
    }
 }

 @media (min-width: 375px) {
     .container {
         width: 375px;
     }
     .lightbox {
        min-height: 100%;
        max-width: 100%;
        overflow-y: scroll;
        text-align: left;
    }
    .lightbox img{
        width:475px;
    }
    .lightbox iframe {
        width: 330px;
        height: 250px
    }
}