.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 20px;

    background-color: rgba(0, 0,0, 0.85);

    .sidebar {
        flex: 1;
    }
    
    .lb-content {
        flex: 3;
    }

    img { max-width: 250px; }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        
        padding: 2px 14px 5px;
        
    }
}

.show-lb { display: flex !important; }

@media (min-width: 576px) { 
    .lightbox {
        min-height: 100vh;
        width: 100%;
    }
    .sidebar {
        flex: 1;
    }
    .close {
        width: 15px;
        font-size:  16px;
    }
    .lb-content {
        flex: 2;
        float: left;
    }
 }