.movieCont { 
    background-image: url("/images/bg5.jpg");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-panel {
        flex: 0 1 100px;
        text-align: center;
        padding: 8px;

        .poster { 
            max-width: 100px; 
        }

        .u-link { 
            display: block; 
            width: 150px;  
            text-decoration: none;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px;
        }

        h1, h3 { 
            margin: 5px 0; 
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 900px) {
    .movieCont {
        .user-panel { 
            flex: 1 1;

            .poster { max-width: 300px; }
        }
    }

}

